@model Tdot_application.Models.EstimatedHourlyVolume
@{
    ViewBag.Title = "HourlyVolume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>"Hour One Traffic Volume : "+ @Model.HourOne </h2>
<h2>"Hour Two Traffic Volume : "+ @Model.HourTwo </h2>
<h2>"Hour Three Traffic Volume : "+ @Model.HourThree </h2>
<h2>"Hour Four Traffic Volume : "+ @Model.HourFour </h2>


